<h1 class="center">Vendi un contenuto digitale</h1>

<%= render "form", content: @content %>

<br>

<div class="center">
  <%= link_to "Torna alla lista contenuti in vendita", contents_path, class:"waves-effect waves-light blue darken-4 btn btn-devise" %>
</div>

<br>
<br>
