<h1 align=middle> 
	<TT> 
		Benvenuti nel marketplace di atp 
	</TT> 
</h1>	

<BODY BGCOLOR="#ADD8E6">

<img src="https://www.atp.it/files/anteprima/1920/13430" WIDTH=100% HEIGHT=90%>

<p align=middle>

 Davide e Massimo  
</FONT>
</p>

<p align=middle> 
	
		<%= link_to "About Us", about_path %>  
	</FONT>
</p>