
<h1 class= "center"> Benvenuti nel marketplace di atp </h1>	

<br>

<img src="https://www.atp.it/files/anteprima/1920/13430" WIDTH=100% HEIGHT=60%>
<br>
<br>
<div class="center"><%= link_to "Vedi contenuti in vendita", contents_path, class:"waves-effect waves-light blue darken-4 btn"%> </div>
<br>
<br>
<div class="row">
	<div class="col l4">
		<p class= "center"> Vi presentiamo il marketplace di atp, dove potrete acquistare e vendere i vostri file.</p><br><br>
	</div>
	<div class="col l4">
		<p class= "center"> Visitate la nostra lista di contenuti cliccando sul pulsante qua sopra! </p><br><br>
	</div>
	<div class="col l4">
		<p class= "center"> Vi basterà registrarvi con Nome utente, Email e Password per poter vendere o acquistare contenuti di ogni formato. </p><br><br>
	</div>
	

